{% extends "layouts/base.html" %}
{% block body %}

{% endblock %}
{% block scriptblock %}
<script>
  // layui.use('form', function () {
  //   var form = layui.form;
  //   //监听提交
  //   form.on('submit(save)', function (data) {
  //     $.post('/admin/post', data.field, function (res) {
  //       console.log(res);
  //     })
  //     return false
  //   });
  // });
</script>
{% endblock %}